body {
  background-color: rgb(236, 236, 236);
}


.stred {
  float: left;
  height: 100%;
}


.navbar {
  float: right;
  height: 100%;
  border-left: solid 1px;
  text-align: center;
}

#hltitulek {
  font-size: 38px;
  margin: 10px 10px 20px 10px;
  font-family: Verdana, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 21px;
}

li a {
  display: block;
  color: black;
  text-decoration-line: none;
}

#skolawebli {
	color: black;
	margin: 10px 15px 15px 10px;
	border: 2px solid;
	border-radius: 7px;
}

#draciovoceli {
	margin: 10px 15px 15px 10px;
	border: 2px solid;
	border-radius: 7px;
}

#licili {
	margin: 10px 15px 15px 10px;
	border: 2px solid;
	border-radius: 7px;
}

#ananasli {
	margin: 10px 15px 15px 10px;
	border: 2px solid;
	border-radius: 7px;
}

#bananli {
	margin: 10px 15px 15px 10px;
	border: 2px solid;
	border-radius: 7px;
}

#citronli {
	margin: 10px 15px 15px 10px;
	border: 2px solid;
	border-radius: 7px;
	text-align: center;
}
